*{
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}
body{
    padding-bottom:20px;
}
 .gButton:active{
     outline:0;
 }


/* @media screen and (max-width:767px){
    body{
        padding:0;
    }
 }*/
 
